* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 300;
  font-display: swap;
  src: url("/assets/fonts/Inter-var-latin.woff2") format("woff2"),
       url("/assets/fonts/Inter-Light.woff?v=3.18") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 300;
  font-display: swap;
  src: url("/assets/fonts/Inter-var-latin.woff2") format("woff2"),
       url("/assets/fonts/Inter-LightItalic.woff?v=3.18") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/Inter-var-latin.woff2") format("woff2"),
       url("/assets/fonts/Inter-Regular.woff?v=3.18") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/Inter-var-latin.woff2") format("woff2"),
       url("/assets/fonts/Inter-Italic.woff?v=3.18") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("/assets/fonts/Inter-var-latin.woff2") format("woff2"),
       url("/assets/fonts/Inter-Medium.woff?v=3.18") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 500;
  font-display: swap;
  src: url("/assets/fonts/Inter-var-latin.woff2") format("woff2"),
       url("/assets/fonts/Inter-MediumItalic.woff?v=3.18") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/Inter-var-latin.woff2") format("woff2"),
       url("/assets/fonts/Inter-Bold.woff?v=3.18") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/Inter-var-latin.woff2") format("woff2"),
       url("/assets/fonts/Inter-BoldItalic.woff?v=3.18") format("woff");
}

/* EditorialNew fonts */
@font-face {
  font-family: 'EditorialNew';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/EditorialNew-Regular.otf") format("opentype");
}
@font-face {
  font-family: 'EditorialNew';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/EditorialNew-Italic.otf") format("opentype");
}
@font-face {
  font-family: 'EditorialNew';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("/assets/fonts/EditorialNew-Ultrabold.otf") format("opentype");
}
@font-face {
  font-family: 'EditorialNew';
  font-style:  italic;
  font-weight: 900;
  font-display: swap;
  src: url("/assets/fonts/EditorialNew-Ultrabolditalic.otf") format("opentype");
}

:root {
    --background-color: #F5F5F5;
    --primary-text-color: #0B0C11;
    --secondary-text-color: rgba(11,12,17,45%);
    --border-divider-color: 2px solid rgba(28, 27, 27, 0.08);
    --link-color: #0b0c11;
    --bs-font-headline: "EditorialNew", "Times New Roman"; 
    --bs-font-text: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --red-circle: radial-gradient(50% 50% at 50% 50%, rgba(255, 0, 0, 0.41) 0%, rgba(255, 122, 0, 0) 100%);
}

html[data-theme='sky'] {
    --background-color: #F5F5F5;
    --primary-text-color: #0B0C11;
    --secondary-text-color: rgba(11,12,17,45%);
    --border-divider-color: 2px solid rgba(28, 27, 27, 0.08);
    --link-color: #0b0c11;
    --red-circle: radial-gradient(50% 50% at 50% 50%, rgba(255, 0, 0, 0.41) 0%, rgba(255, 122, 0, 0) 100%);
}

html[data-theme='earth'] {
    --background-color: #FFE7CA;
    --primary-text-color: #0B0C11;
    --secondary-text-color: rgba(11,12,17,45%);
    --border-divider-color: 2px solid rgba(28, 27, 27, 0.08);
    --link-color: #0B0C11;
    --red-circle: radial-gradient(50% 50% at 50% 50%, rgba(255, 0, 0, 0.41) 0%, rgba(255, 122, 0, 0) 100%);
}

html[data-theme='space'] {
    --background-color: #0B0C11;
    --primary-text-color: #F5f5f5;
    --secondary-text-color: #A8A8A8;
    --border-divider-color: 2px solid rgba(207, 207, 207, 0.08);
    --link-color: #FFD8AA;
    --red-circle: radial-gradient(50% 50% at 50% 50%, rgba(255, 0, 0, 0.20) 0%, rgba(255, 122, 0, 0) 100%);
}


body {
    background: var(--background-color);
    color: var(--primary-text-color);
    font-family: var(--bs-font-text);
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--bs-font-headline);
}


a {
    color: var(--link-color);
}

a:hover {
    text-decoration: underline;
}


/* Section Home */
.section-home {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.section-home__left, .section-home__right {
    padding: 3em;
    position: relative;
}

.section-home__left {
    flex: 1.4;
    border-right: var(--border-divider-color);
}

.section-home__right {
    flex: 1;
}

.hero-heading {
    bottom: 0;
    padding-bottom: 8em;
    position: absolute;
    padding-right: inherit;
}

.hero-heading__desc {
    max-width: 700px;
    font-weight: 500;
}

.hero-heading__title {
    font-size: clamp(1rem, 7vw, 7rem); 
    font-weight: normal;
}

.circle-blur {
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 8em;
}

.circle-blur-red {
    width: 501px;
    height: 501px;
    background: var(--red-circle);
}

.star-logo-toggle {
    position: absolute;
    right: -3.3em;
    bottom: 10em;
    z-index: 2;
}

.star-logo-toggle svg {
  pointer-events: none;
  transition: all 0.3s;
}

.star-logo-toggle svg path {
  cursor: pointer;
  pointer-events: auto;
}

.star-logo-toggle svg:hover {
  transform: scale(0.8);
}

.star-logo-toggle svg:active {
  transform: scale(100);
  transition: all 2s ease 0.2s;
}
