* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*
@font-face {
    font-family: Manrope;
    font-weight: 400;
    font-display: swap;
    src: url('assets/fonts/Manrope-Regular.woff2') format('woff2'), 
         url('assets/fonts/Manrope-Regular.woff') format('woff');
}

@font-face {
    font-family: Manrope;
    font-weight: 500;
    font-display: swap;
    src: url('assets/fonts/Manrope-Medium.woff2') format('woff2'), 
         url('assets/fonts/Manrope-Medium.woff') format('woff');
}

@font-face {
    font-family: Manrope;
    font-weight: 700;
    font-display: swap;
    src: url('assets/fonts/Manrope-Bold.woff2') format('woff2'), 
         url('assets/fonts/Manrope-Bold.woff') format('woff');
}

 *
 */

:root {
    --background-color: #F5F5F5;
    --primary-text-color: #0B0C11;
    --secondary-text-color: rgba(11,12,17,45%);
    --border-divider-color: 2px solid rgba(28, 27, 27, 0.08);
    --link-color: #0b0c11;
    --bs-font-headline: "Libre Baskerville", Arial; 
    --bs-font-text: "Manrope", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html[data-theme='sky'] {
    --background-color: #F5F5F5;
    --primary-text-color: #0B0C11;
    --secondary-text-color: rgba(11,12,17,45%);
    --border-divider-color: 2px solid rgba(28, 27, 27, 0.08);
    --link-color: #0b0c11;
}

html[data-theme='earth'] {
    --background-color: #FFE7CA;
    --primary-text-color: #0B0C11;
    --secondary-text-color: rgba(11,12,17,45%);
    --border-divider-color: 2px solid rgba(28, 27, 27, 0.08);
    --link-color: #0B0C11;
}

html[data-theme='space'] {
    --background-color: #0B0C11;#F5F5F5;
    --primary-text-color: #F5f5f5;
    --secondary-text-color: #A8A8A8;
    --border-divider-color: 2px solid rgba(207, 207, 207, 0.08);
    --link-color: #FFD8AA;
}


body {
    background: var(--background-color);
    color: var(--primary-text-color);
    font-family: var(--bs-font-text);
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--bs-font-headline);
}


a {
    color: var(--link-color);
}

a:hover {
    text-decoration: underline;
}


/* Section Home */
.section-home {
    display: flex;
    height: 100vh;
}

.section-home__left, .section-home__right {
    padding: 3em;
    position: relative;
}

.section-home__left {
    flex: 1.4;
    border-right: var(--border-divider-color);
}

.section-home__right {
    flex: 1;
}

.hero-heading {
    bottom: 0;
    padding-bottom: 8em;
    position: absolute;
}

.hero-heading__desc {
    max-width: 700px;
    font-weight: 500;
}

.hero-heading__title {
    font-size: clamp(1rem, 7vw, 7rem); 
    font-weight: normal;
}

.circle-blur {
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 8em;
}

.circle-blur-red {
    width: 501px;
    height: 501px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 0, 0, 0.41) 0%, rgba(255, 122, 0, 0) 100%);
    filter: blur(42px);
}
